In [2]:
import pandas as pd
import random 
import datetime as dt

#Primeiramente criamos o script do dataset com a quantidade variando entre 30 à 400 produtos 

base_dados = {
    'Id': range(1,51),
    'Data': [pd.Timestamp('01/01/2023') + pd.Timedelta(days= random.randint(1,365)) for d in range(50)],
    'Produto': random.choices(['Celular','Televisão','Notebook','Sofá','Caderno','Cadeira','Mesa','Prateleira','Lapis'], k = 50),
    'Categoria': random.choices(['Eletrodoméstico','Acessório','Mobilia'], k = 50),
    'Quantidade': random.choices([100,200,50,70,400,30], k=50),
    'Preco': [random.randint(100,1000) for p in range(50)],
}

df = pd.DataFrame(base_dados)

In [3]:
# Visualização da tabela
print(df.head(15))

    Id       Data     Produto        Categoria  Quantidade  Preco
0    1 2023-04-19     Celular          Mobilia          50    997
1    2 2023-09-18        Mesa        Acessório          70    407
2    3 2023-07-03        Mesa        Acessório          70    484
3    4 2023-10-26   Televisão          Mobilia          70    179
4    5 2023-04-13  Prateleira          Mobilia          70    626
5    6 2023-01-31  Prateleira        Acessório          50    449
6    7 2023-05-12  Prateleira          Mobilia         400    454
7    8 2023-10-16     Caderno          Mobilia         100    586
8    9 2023-07-29    Notebook  Eletrodoméstico          50    502
9   10 2023-12-22     Caderno          Mobilia         200    736
10  11 2023-11-27    Notebook          Mobilia         200    641
11  12 2023-12-16       Lapis        Acessório          30    447
12  13 2023-06-05        Mesa        Acessório          50    358
13  14 2023-01-26   Televisão          Mobilia         400    755
14  15 2023-01-02  Prateleira  Eletrodoméstico         400    734

In [4]:
#criando uma coluna com os dados mensais para analise e ordenando

df['mes'] = df['Data'].dt.to_period('M')
df = df.sort_values(by = 'mes')

#transformando o tipo de period[M] para datetime

df['mes'] = df['mes'].dt.to_timestamp()

In [5]:
# Exibição da tabela criada dita como df
print(df.head(15))

print("\n")

# Quantidade de valores vazios por coluna
print(f"O numero de colunas nulas eh:\n{df.isnull().sum()}")

    Id       Data     Produto        Categoria  Quantidade  Preco        mes
5    6 2023-01-31  Prateleira        Acessório          50    449 2023-01-01
17  18 2023-01-23        Sofá        Acessório         400    572 2023-01-01
13  14 2023-01-26   Televisão          Mobilia         400    755 2023-01-01
14  15 2023-01-02  Prateleira  Eletrodoméstico         400    734 2023-01-01
45  46 2023-02-12   Televisão          Mobilia          30    252 2023-02-01
42  43 2023-03-18   Televisão  Eletrodoméstico         100    557 2023-03-01
34  35 2023-03-27     Cadeira          Mobilia          70    619 2023-03-01
30  31 2023-03-21       Lapis  Eletrodoméstico         400    781 2023-03-01
28  29 2023-03-07     Caderno          Mobilia          30    153 2023-03-01
26  27 2023-03-29       Lapis  Eletrodoméstico         100    788 2023-03-01
0    1 2023-04-19     Celular          Mobilia          50    997 2023-04-01
37  38 2023-04-06        Sofá        Acessório          30    798 2023-04-01
33  34 2023-04-27     Caderno  Eletrodoméstico         100    691 2023-04-01
31  32 2023-04-21     Cadeira        Acessório         200    198 2023-04-01
27  28 2023-04-29        Sofá          Mobilia         100    734 2023-04-01


O numero de colunas nulas eh:
Id            0
Data          0
Produto       0
Categoria     0
Quantidade    0
Preco         0
mes           0
dtype: int64

In [6]:
# Reajustando a coluna categoria com a seu tipo correto

correcao = {
'Notebook' : 'Eletrodoméstico',
'Televisão' : 'Eletrodoméstico',
'Prateleira' : 'Mobilia' ,
'Cadeira' : 'Mobilia',
'Sofá' : 'Mobilia',
'Mesa' : 'Mobilia',
'Lapis' : 'Acessório',
'Caderno' : 'Acessório',
}

#Transformando a coluna de categoria em minúsculo e cortando espaços em branco

df['Categoria'] = df['Categoria'].str.strip().str.lower()

#Procura cada produto pelo nome e troca os elementos da coluna categoria pelo especificado 
df.loc[df['Produto'] =='Prateleira','Categoria'] = 'Mobilia'
df.loc[df['Produto'] =='Cadeira','Categoria'] = 'Mobilia'
df.loc[df['Produto'] == 'Sofá','Categoria'] = 'Mobilia'
df.loc[df['Produto'] == 'Mesa', 'Categoria'] = 'Mobilia'
df.loc[df['Produto'] == 'Lapis','Categoria'] = 'Acessório'
df.loc[df['Produto'] == 'Caderno','Categoria'] = 'Acessório'
df.loc[df['Produto'] == 'Notebook','Categoria'] = 'Eletrodoméstico'
df.loc[df['Produto'] == 'Televisão','Categoria'] = 'Eletrodoméstico'
df.loc[df['Produto'] == 'Celular', 'Categoria'] = 'Eletrodoméstico'

# Trocar as categorias com os valores do dicionário
df['Categoria'] = df['Categoria'].replace(correcao)

print(df.head(10))

    Id       Data     Produto        Categoria  Quantidade  Preco        mes
5    6 2023-01-31  Prateleira          Mobilia          50    449 2023-01-01
17  18 2023-01-23        Sofá          Mobilia         400    572 2023-01-01
13  14 2023-01-26   Televisão  Eletrodoméstico         400    755 2023-01-01
14  15 2023-01-02  Prateleira          Mobilia         400    734 2023-01-01
45  46 2023-02-12   Televisão  Eletrodoméstico          30    252 2023-02-01
42  43 2023-03-18   Televisão  Eletrodoméstico         100    557 2023-03-01
34  35 2023-03-27     Cadeira          Mobilia          70    619 2023-03-01
30  31 2023-03-21       Lapis        Acessório         400    781 2023-03-01
28  29 2023-03-07     Caderno        Acessório          30    153 2023-03-01
26  27 2023-03-29       Lapis        Acessório         100    788 2023-03-01

In [7]:
#Verificação dos tipos de dados no dataset com a coluna de chaves únicas
print(f"Os tipos de dados existentes :\n{df.dtypes}")

if df['Id'].dtype != 'int64':
    df['Id'] = df['Id'].astype(int)
    print(df['Id'].dtype)

if df['Data'].dtype != 'datetime64[ns]':
    df['Data'] = pd.to_datetime(dataf['Data'])
    print(df['Data'].dtype)
    
# Verificação se a coluna com valores únicos se repete
print(f"Quantidade de numeros repetidos na coluna Id eh:\n{df['Id'].value_counts()}")

#Ordenação das datas
df = df.sort_values(by = 'Data')

Os tipos de dados existentes :
Id                     int64
Data          datetime64[ns]
Produto               object
Categoria             object
Quantidade             int64
Preco                  int64
mes           datetime64[ns]
dtype: object
Quantidade de numeros repetidos na coluna Id eh:
Id
6     1
33    1
42    1
30    1
9     1
41    1
40    1
39    1
24    1
23    1
26    1
2     1
50    1
18    1
49    1
21    1
8     1
4     1
11    1
36    1
10    1
12    1
47    1
19    1
3     1
22    1
48    1
37    1
14    1
15    1
46    1
43    1
35    1
31    1
29    1
27    1
1     1
38    1
34    1
32    1
28    1
25    1
5     1
44    1
7     1
45    1
16    1
13    1
20    1
17    1
Name: count, dtype: int64

In [8]:
#O total de vendas 
soma = 0
maior = 0
lista= []

#Um loop que faz o produto-soma de cada linha e insere na lista
for indice,iterador in df.iterrows():
    soma += iterador['Quantidade']*iterador['Preco']
    
    algebra = iterador['Quantidade']*iterador['Preco']
    lista.append(algebra)
    
print("O total de vendas eh: R$ {}".format(soma))

#Loop de comparação do produto com o maior numero de vendas
for i,n in enumerate(lista):
    if n > maior:
        maior = n
        index = i

produto_valor_maior = df.iloc[index+1]['Produto']

print(f"O produto com a maior venda eh: {produto_valor_maior}")
print(f"A maior venda foi: R$ {maior}")

O total de vendas eh: R$ 4515270
O produto com a maior venda eh: Notebook
A maior venda foi: R$ 347600

In [ ]:
#Não foi preciso mudar a tabela df para analisar os dados corretamente. Afinal, já foi formatado corretamente, mas fiz a validação dessa afirmação com as etapas realizadas ao longo desse código.

In [9]:
#Salvamento do dataset_limpo
df.to_csv("data_clean.csv",index = False)