In [18]:
import pandas as pd
import random 
import datetime as dt

#Primeiramente criamos o script do dataset com a quantidade variando entre 30 à 400 produtos 

base_dados = {
    'Id': range(1,51),
    'Data': [pd.Timestamp('01/01/2023') + pd.Timedelta(days= random.randint(1,365)) for d in range(50)],
    'Produto': random.choices(['Celular','Televisão','Notebook','Sofá','Caderno','Cadeira','Mesa','Prateleira','Lapis'], k = 50),
    'Categoria': random.choices(['Eletrodoméstico','Acessório','Mobilia'], k = 50),
    'Quantidade': random.choices([100,200,50,70,400,30], k=50),
    'Preco': [random.randint(100,1000) for p in range(50)],
}

df = pd.DataFrame(base_dados)

In [19]:
#criando uma coluna com os dados mensais para analise e ordenando

df['mes'] = df['Data'].dt.to_period('M')
df = df.sort_values(by = 'mes')

#transformando o tipo de period[M] para datetime

df['mes'] = df['mes'].dt.to_timestamp()

In [28]:
# Exibição da tabela criada dita como df
print(df.head(15))

print("\n")

# Quantidade de valores vazios por coluna
print(f"O numero de colunas nulas eh:\n{df.isnull().sum()}")

    Id       Data     Produto        Categoria  Quantidade  Preco        mes
0    1 2023-01-04    Notebook  Eletrodoméstico          30    149 2023-01-01
8    9 2023-02-01     Celular  Eletrodoméstico          50    535 2023-02-01
44  45 2023-02-10     Celular  Eletrodoméstico         100    480 2023-02-01
18  19 2023-02-12     Celular  Eletrodoméstico         400    990 2023-02-01
27  28 2023-02-13        Sofá          Mobilia          70    940 2023-02-01
47  48 2023-02-18     Caderno        Acessório          50    765 2023-02-01
30  31 2023-03-03     Cadeira          Mobilia          30    675 2023-03-01
22  23 2023-03-19        Sofá          Mobilia         100    533 2023-03-01
4    5 2023-04-08     Celular  Eletrodoméstico          30    504 2023-04-01
10  11 2023-04-09  Prateleira          Mobilia          50    699 2023-04-01
9   10 2023-04-14     Cadeira          Mobilia          70    217 2023-04-01
43  44 2023-04-16       Lapis        Acessório         200    555 2023-04-01
1    2 2023-04-16     Celular  Eletrodoméstico          70    238 2023-04-01
36  37 2023-05-02       Lapis        Acessório          70    565 2023-05-01
37  38 2023-05-07        Sofá          Mobilia         200    419 2023-05-01


O numero de colunas nulas eh:
Id            0
Data          0
Produto       0
Categoria     0
Quantidade    0
Preco         0
mes           0
dtype: int64

In [27]:
# Reajustando a coluna categoria com a seu tipo correto

correcao = {
'Notebook' : 'Eletrodoméstico',
'Televisão' : 'Eletrodoméstico',
'Prateleira' : 'Mobilia' ,
'Cadeira' : 'Mobilia',
'Sofá' : 'Mobilia',
'Mesa' : 'Mobilia',
'Lapis' : 'Acessório',
'Caderno' : 'Acessório',
}

#Transformando a coluna de categoria em minúsculo e cortando espaços em branco

df['Categoria'] = df['Categoria'].str.strip().str.lower()

#Procura cada produto pelo nome e troca os elementos da coluna categoria pelo especificado 
df.loc[df['Produto'] =='Prateleira','Categoria'] = 'Mobilia'
df.loc[df['Produto'] =='Cadeira','Categoria'] = 'Mobilia'
df.loc[df['Produto'] == 'Sofá','Categoria'] = 'Mobilia'
df.loc[df['Produto'] == 'Mesa', 'Categoria'] = 'Mobilia'
df.loc[df['Produto'] == 'Lapis','Categoria'] = 'Acessório'
df.loc[df['Produto'] == 'Caderno','Categoria'] = 'Acessório'
df.loc[df['Produto'] == 'Notebook','Categoria'] = 'Eletrodoméstico'
df.loc[df['Produto'] == 'Televisão','Categoria'] = 'Eletrodoméstico'
df.loc[df['Produto'] == 'Celular', 'Categoria'] = 'Eletrodoméstico'

# Trocar as categorias com os valores do dicionário
df['Categoria'] = df['Categoria'].replace(correcao)

print(df.head(10))

    Id       Data     Produto        Categoria  Quantidade  Preco        mes
0    1 2023-01-04    Notebook  Eletrodoméstico          30    149 2023-01-01
8    9 2023-02-01     Celular  Eletrodoméstico          50    535 2023-02-01
44  45 2023-02-10     Celular  Eletrodoméstico         100    480 2023-02-01
18  19 2023-02-12     Celular  Eletrodoméstico         400    990 2023-02-01
27  28 2023-02-13        Sofá          Mobilia          70    940 2023-02-01
47  48 2023-02-18     Caderno        Acessório          50    765 2023-02-01
30  31 2023-03-03     Cadeira          Mobilia          30    675 2023-03-01
22  23 2023-03-19        Sofá          Mobilia         100    533 2023-03-01
4    5 2023-04-08     Celular  Eletrodoméstico          30    504 2023-04-01
10  11 2023-04-09  Prateleira          Mobilia          50    699 2023-04-01

In [23]:
#Verificação dos tipos de dados no dataset com a coluna de chaves únicas
print(f"Os tipos de dados existentes :\n{df.dtypes}")

if df['Id'].dtype != 'int64':
    df['Id'] = df['Id'].astype(int)
    print(df['Id'].dtype)

if df['Data'].dtype != 'datetime64[ns]':
    df['Data'] = pd.to_datetime(dataf['Data'])
    print(df['Data'].dtype)
    
# Verificação se a coluna com valores únicos se repete
print(f"Quantidade de numeros repetidos na coluna Id eh:\n{df['Id'].value_counts()}")

#Ordenação das datas
df = df.sort_values(by = 'Data')

Os tipos de dados existentes :
Id                     int64
Data          datetime64[ns]
Produto               object
Categoria             object
Quantidade             int64
Preco                  int64
mes           datetime64[ns]
dtype: object
Quantidade de numeros repetidos na coluna Id eh:
Id
1     1
39    1
50    1
17    1
3     1
14    1
36    1
35    1
42    1
16    1
24    1
21    1
7     1
9     1
8     1
49    1
13    1
34    1
15    1
29    1
6     1
30    1
32    1
4     1
33    1
46    1
20    1
41    1
45    1
19    1
28    1
48    1
31    1
23    1
5     1
11    1
10    1
2     1
44    1
37    1
38    1
47    1
43    1
27    1
26    1
12    1
25    1
40    1
22    1
18    1
Name: count, dtype: int64

In [29]:
#O total de vendas 
soma = 0
maior = 0
lista= []

#Um loop que faz o produto-soma de cada linha e insere na lista
for indice,iterador in df.iterrows():
    soma += iterador['Quantidade']*iterador['Preco']
    
    algebra = iterador['Quantidade']*iterador['Preco']
    lista.append(algebra)
    
print("O total de vendas eh: R$ {}".format(soma))

#Loop de comparação do produto com o maior numero de vendas
for i,n in enumerate(lista):
    if n > maior:
        maior = n
        index = i

produto_valor_maior = df.iloc[index+1]['Produto']

print(f"O produto com a maior venda eh: {produto_valor_maior}")
print(f"A maior venda foi: R$ {maior}")

O total de vendas eh: R$ 3257030
O produto com a maior venda eh: Sofá
A maior venda foi: R$ 396000

In [ ]:
#Não foi preciso mudar a tabela df para analisar os dados corretamente. Afinal, já foi formatado corretamente, mas fiz a validação dessa afirmação com as etapas realizadas ao longo desse código.

In [26]:
#Salvamento do dataset_limpo
df.to_csv("data_clean.csv",index = False)